<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project medo</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    {{>header}}

    <div class="main main-weather">
        <div class="overlay">
            <div class="main-content">
                <div class="left">
                    <h2>real time World weather</h2>
                    <p>
                        This is the weather at this moment in {{loc}}
                    </p>
                    
                </div>
                <div class="right">
                    <h4>{{loc}} , {{cont}}</h4>
                        <div class="all-info">
                            <div class="iconx">
                                <div class="img">
                                    <img src={{icon}} alt="">
                                </div>
                            <h3>{{cond}}</h3>
                        </div>
                        <h2>{{temp}}<span><sup>o</sup></span>C</h2>
                        <div class="more-info">
                            <p>
                                <span>wind : {{winds}} kmph</span>
                                <span>precip : {{pre}} mm</span>
                                <span>pressure : {{pressure}} mb</span>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
    <script src="js/watherpage.js"></script>
    <script src="js/all.min.js"></script>
</body>
</html>